<header class="l-header">
  <div class="c-header__container">
    <div class="c-header__logo--box">
      <div class="c-header__logo--item"></div>
    </div>
      <div class="c-header__cover"></div>
  </div>
</header>

